*{
    background-color: black;
}
body {
    color: #fff;
}
.logo {
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(229,9,20);
    fill: currentColor;
    /* display: block; */
    width: 8.5625rem;
    height: 2.5rem;
    /* overflow: hidden; */
}
.language {
    font-family: unset;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
}
.navbar{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_right{
    display: flex;
    align-items: center;
    padding: 20px; 
}

.content {
    position: relative;
    max-width: 800px;
    margin-left: 250px;
    margin-top: 100px;
    padding-top: 250px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.rank{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.form textarea {
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-style: solid;
    width: 300px;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 4px
}

.form button {
    background: #e50914;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.page_2 {
    /* width: 100%; */
    max-width: 1200px;
    margin-left: auto;
}

h2 {
    font-size: 28px;
    margin: 20px;
    margin-bottom: 40px;
}

.carousel {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.card {
    position: relative;
    min-width: 200px;
}

.card img {
    width: 150px;
    height: 220px;
}




